/*general*/
body{
  font-family: Arial, Sans-Serif;
  font-size: 18px;
}

::placeholder{
  color: #999999;
}

.hide{
  display: none;
}

.show{
  display: block !important;
}

.correct{
  background-color: green;
}

.incorrect{
  background-color: red;
}

.quiz-container{
  margin: 40px;
  width: 440px;
  height: 224px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  overflow: auto;
}

/*quesArea*/
.question-area{
  position: relative;
}

.question-number{
  margin: 4px auto 20px;
  text-align: center;
}

.question-area .question{
  margin: 0 0 30px;
}

.answer-field{
  position: relative;
  left: 10px;
}

.submit-and-proceed-button{
  position: absolute;
  right: 20px;
}

.current-score{
  margin: 8px auto;
  text-align: center;
  box-sizing: border-box; 
}

.answer-status{
  margin: 7px auto;
  padding: 4px;
  text-align: center;
  border-radius: 20px;
  width: 220px;
  display: none;
  box-sizing: border-box;
}